.performance-container {
    margin: 1.5rem 2.5rem;
  }
  
  .data-grid-container {
    margin-top: 40px;
    height: 75vh;
  }
  
  .MuiDataGrid-root {
    border: none;
  }
  
  .MuiDataGrid-cell {
    border-bottom: none;
  }
  
  .MuiDataGrid-columnHeaders {
    background-color: var(--mui-theme-background-alt);
    color: var(--mui-theme-secondary-100);
    border-bottom: none;
  }
  
  .MuiDataGrid-virtualScroller {
    background-color: var(--mui-theme-primary-light);
  }
  
  .MuiDataGrid-footerContainer {
    background-color: var(--mui-theme-background-alt);
    color: var(--mui-theme-secondary-100);
    border-top: none;
  }
  
  .MuiDataGrid-toolbarContainer .MuiButton-text {
    color: var(--mui-theme-secondary-200) !important;
  }
  